<div class="flexbox">
  <h1>Welcome to Mr. Cocktail</h1>
</div>
<div class="flexbox">
  <% @cocktails.each do |cocktail| %>
  <%= link_to cocktail_path(cocktail),
  :class=>"homepage-link" do %>
  <div class="flex-item-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
  url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
  <h3><%= cocktail.name %></h3>
</div>
<% end %>
<% end %>
</div>

<div class="flexbox">
  <%= link_to "New cocktail", new_cocktail_path, class: "main-button-home" %>
</div>


