<h1>Doses#new</h1>
<p>Find me in app/views/cocktails/new.html.erb</p>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, as: :select %>
  <%= f.button :submit %>
<% end %>
