// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flexbox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.flex-overlay {
  background-color: black;
}

.flex-item {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 375px;
  height: 600px;
  color: #8075FF;
  background-color: #F8F0FB;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 30px;
  padding-top: 20px;
  margin: 10px;
  position: relative;
}

@media only screen and (min-width: 915px) {
  .flex-item-homepage {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    position: relative;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 915px) {
  .flex-item-homepage {
    display: flex;
    flex-direction: column;
    height: 300px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    position: relative;
    margin-bottom: 20px;
  }
}

.flex-item-homepage a {
  color: rgba(248,240,251, 1);
  font-weight: bold;
}

.flex-item-homepage a:hover {
  color: rgba(248,240,251, 0.7);
  text-decoration: none;
}

.flex-item-homepage-content {
  color: #F8F0FB;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
}

.flex-item a {
  color: rgba(128,117,255, 1);
  line-height: 2;
  margin-bottom: 20px;
}

.flex-item a:hover {
  color: rgba(128,117,255, 0.7);
  text-decoration: none;
  background-color: black;
}

.flex-item ul {
  list-style-type: none;
  padding-left: 10px;
  margin: 0px;
}

.icon {
  margin-right: 10px;
}

a.homepage-link {
  width: 300px;
  height: 300px;
  margin: 10px;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  -moz-transform: scale(1,1);
  -webkit-transform: scale(1,1);
  transform: scale(1,1);
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

a.homepage-link:hover {
  -moz-transform: scale(1.05,1.05);
  -webkit-transform: scale(1.05,1.05);
  transform: scale(1.05,1.05);
}
